@import '../../Sass/mixin';
@import '../../Sass/variables';

.body-container1{
  width: 100%;
  height: auto;
  padding: .5rem 0rem ;
  background-color: lightblue;
  background-color: $bodyback;
  &-content{
    width: 75%;
    height: auto;
    padding: .5rem 0rem ;
    margin: auto;
    &>h1{
        padding: 5rem 0rem;
        color: $pink;
        font-weight: 600;
font-size: 40px;
text-align: center;
@include respond(phone){
    font-size: 3rem;
}
    }
    &-gallery{
        // background-color: lightgreen;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond(phone){
            flex-direction: column;
            // margin-top: 1rem;
        }
    }
  }
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include respond(phone){
        margin-top: 1rem;
    }
    &>img{
        // width: 7.5%;
        padding: 1.5rem 1.3rem;
        border-radius: 12px;
        background-color: $pink;
    }
    &>p{
        color: $pink;
        font-weight: 500;
font-size: 30px;
line-height: 45px;
@include respond(phone){
    font-size: 2.5rem;
}
    }
}


.dildata-container{
    width: 100%;
    height: auto;
    padding-top: 3rem;
    background-color: $bodyback;
    &-content{
        width: 85%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 0rem;
        // background-color: aqua;
        &>p{
            font-weight: 600;
font-size: 4rem;
line-height: 75px;
text-align: center;
color: #434343;
@include respond(phone){
    font-size:2.5rem;
    line-height: 35px;
}
        }
        &>span{
            font-weight: 500;
font-size: 25px;
line-height: 45px;
/* identical to box height */
color: #F9556E;
@include respond(phone){
    font-size: 2rem;
    line-height: 25px;
}
        }
        &>img{
            width: 5%;
            margin-top: 4rem;
            @include respond(phone){
                margin-top: 2rem;
            }
        }
    }
}
.imagegallery-container{
    width: 100%;
    height: auto;
    padding: .5rem 0rem;
    background-color: $bodyback;
    &-content{
        width: 95%;
        height: auto;
        margin: auto;
        display: flex;
        align-items: center;
        // background-color: lightgreen;
      @include respond(phone){
        flex-direction:column ;

      }
    }
}

.IGallery{
    width: auto;
    height: auto;
    padding: .5rem 0rem;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    // background-color: lightblue;
    &-photo{
        width: 80%;
        height: 25vh;
        background-color: lightcoral;
        border-radius: 50%;
        &>img{
            width: 100%;
            height: 25vh;
            border-radius: 50%;
            filter: drop-shadow(0px 6px 13px rgba(249, 85, 110, 0.25));
        }
    }
    &>p{
        margin-top: 1.3rem;
        font-weight: 600;
font-size: 25px;
line-height: 52px;
/* identical to box height */
text-align: center;
color: #F9556E;
    }
}


.card1-container{
    width: 100%;
    height: auto;
    padding: .5rem 0rem;
    background-color:$bodyback;
    &-content{
        width: 95%;
        height: auto;
        margin: auto;
        padding: .5rem 0rem;
        display: flex;
        justify-content: space-between;
        // background-color: papayawhip;
        // &>*:not(:first-child){
         
        // }
        @include respond(phone){
            flex-direction: column;
            align-items: center;
        }
    }
}
.cardbox{
    width: 30%;
    height: auto;
    padding-bottom: 2rem;
    background-color:white;
    border-radius: 1rem;
    box-shadow: 0px 0px 40px -9px rgba(0, 0, 0, 0.17);
    @include respond(phone){
        width: 80%;
        margin-top:2rem;
    }
    &-content{
        width: 100%;
        height: auto;
        &>img{
            width: 100%;
            height: 35vh;
            border-top-left-radius:1rem;
            border-top-right-radius:1rem;
        }
        &>h1{
            margin-top: 1rem;
            width: 90%;
            margin: auto;
            // margin-left: 1rem;
            font-weight: 600;
font-size: 25px;
line-height: 45px;
/* identical to box height */
color: #49516F;
        }
        &>p{
            width: 90%;
            margin: auto;
            font-weight: 400;
font-size: 1.2rem;
// margin-bottom: 2rem;
        }
    }
}


.card2-container{
    width: 100%;
    height: auto;
    padding: .5rem 0rem;
    background-color: $bodyback;
    &-content{
    width: 95%;
    height: auto;
    margin: auto;
    padding: .5rem 0rem;
    display: flex;
    justify-content: space-between;
    // background-color: beige;
    @include respond(phone){
        flex-direction: column;
        align-items: center;
    }

}
}


.multiImg-card{
    width:30%;
    height: auto;
    // padding: .5rem 0rem;
    filter: drop-shadow(0px 6px 22px rgba(0, 0, 0, 0.25));
    // background-color: #49516F;
   @include respond(phone){
    width: 80%;
    margin-top: 1.5rem;
   }
    &-content{
        width: 100%;
        height: auto;
        // padding: .5rem 0rem;
        // background-color: $bodyback;
        &-1{
            width: 100%;
            height: 35vh;
            border-radius: .6rem;
            // background-color: red;
            &>img{
                width: 100%;
                height: 35vh;
            }
        }
        &-2{
            margin-top: 1rem;
            width: 100%;
            height: 15vh;
            display: flex;
            justify-content: space-between;
            &>img{
                width: 32.1%;
            }
        }
        &-3{
            width: 100%;
            height: auto;
            padding: 1rem 2rem;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom-left-radius:1rem;
            border-bottom-right-radius:1rem;
            &-content{
                height: auto;
                padding: .5rem 0rem;
                // background-color: lightcyan;
                &>h1{
                    font-weight: 600;
font-size: 2rem;
color: #222222;
                }
                &>p{
                    font-weight: 500;
font-size: 1.3rem;
color: #6C6C6C;
                }
            }
            &>img{
                width: 10%;
                height: 5vh;
            }
        }
    }
}

.bg-cards{
    width: 100%;
    height: auto;
    padding: .5rem 0rem;
    background-color: $bodyback;
    &-content{
        width: 95%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: .5rem 0rem;
        // background-color: plum;
    @include respond(phone){
        flex-direction: column;
        align-items:center ;
    }
    }
}


.bgcards-container{
    width: 30%;
    height: 65vh;
    border-radius: 1rem;
    display: flex;
    background-image: linear-gradient(180deg, rgba(109, 109, 109, 0) 0%, rgba(34, 34, 34, 0.7) 100%);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    @include respond(phone){
        width: 80%;
        margin-top: 1.5rem;
    }
    &-content{
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 3rem;
        // background-color: lightcyan;
        &>button{
            padding: 1rem 2.5rem;
            border-radius: 2rem;
            border: none;
            background-color: #F9556E;
            color: white;
        }
        &>h1{
            margin-top: 1rem;
            color: white;
            font-size: 2.4rem;
        }
        &>p{
            margin-top: .5rem;
            font-size:1.5rem ;
            color: white;
        }
    }
}

.textcard-container{
    width: 100%;
    height: auto;
    padding: .5rem 0rem;
    background-color: $bodyback;
    &-content{
        width: 95%;
        height: auto;
        margin: auto;
        padding: .5rem 0rem;
        display: flex;
        justify-content: space-between;
        // background-color: plum;
       @include respond(phone){
        flex-direction: column;
        align-items: center;
       }
    }
}


.textcard{
    width: 30%;
    height: auto;
    padding: .5rem 0rem;
    // background-color: lightcyan;
    @include respond(phone){
        width: 80%;
        margin-top: 1rem;
    }
    &-content{
        width: 100%;
        height: auto;
        background-color: white;
       border-radius:1rem;
        &-1{
            padding: 1.2rem 0rem;
           width: 90%;
           margin: auto;
        //    background-color: papayawhip;
            &>h1{
                font-weight: 500;
font-size: 2.4rem;
color: #49516F;
            }
            &>p{
                margin-top: 1.5rem;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 25px;
                color: #000000;
                margin-bottom: 1rem;
            }
            &>span{
                // background-color: peachpuff;
                // margin-top: 2rem;
                font-weight: 500;
font-size: 1.3rem;
color: #F9556E;
            }
        }
        &-2{
            width: 100%;
            height: auto;
            padding: 1.5rem 0rem;

            background-color: $pink;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
           &-content{
            width: 90%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: green;
            &-left{
                display: flex;
                align-items: center;
                &>img{
                    width: 22%;
                }
                &>p{
                    margin-left: 1rem;
                    font-weight: 500;
                    font-size: 1.4rem; 
                    color: #FFFFFF;
                }
            }
            &-midle{
                display: flex;
                align-items: center;
                &>img{
                    width: 35%;
                }
                &>p{
                    margin-left: 1rem;
                    font-weight: 500;
                    font-size: 1.4rem; 
                    color: #FFFFFF;
                }
            }
            &-right{
                margin-right: 2.5rem;
                display: flex;
                align-items: center;
                &>img{
                    width: 35%;
                }
                &>p{
                    margin-left: 1rem;
                    font-weight: 500;
                    font-size: 1.4rem; 
                    color: #FFFFFF;
                }
            }
           }
        }
    }
}

.destination-container{
    width: 100%;
    height:auto;
    padding: .5rem 0rem ;
    background-color: $bodyback;
    &-content{
        width: 95%;
        height: auto;
        margin: auto;
        padding: .5rem 0rem;
        display: flex;
        justify-content: space-between;
        // background-color: peachpuff;
       @include respond(phone){
        flex-direction: column;
        // width: 100%;
        align-items: center;
       }
    }
}

.destination{
    width: 22%;
    height: 55vh;
    padding: .5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: peru;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    @include respond(phone){
        width: 80%;
        margin-top: 2rem;
        // align-items: center;
    }
    &>h1{
        font-weight: 500;
font-size: 3.5rem;
color: #FFFFFF;
    }
}


.venues-container{
    width: 100%;
    height: auto;
    padding: .5rem 0rem ;
    background-color: $bodyback;
    &-content{
        width: 95%;
        height: auto;
        margin: auto;
        padding: .5rem 0rem ;
        // background-color: peru;
    }
}

.venues{
    width: 100%;
    height: auto;
    padding: .5rem 0rem;
    // background-color: lightgray;
    &-content{
        width: 100%;
        height: auto;
        padding: 3rem 0rem;
        &>h1{
            font-weight: 600;
font-size: 3.5rem;
// line-height: 75px;
text-align: center;
color: #49516F;
        }
        &-part2{
            width: 80%;
            height: auto;
            margin: auto;
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
            padding: 2rem 0rem;
            // background-color: pink;
            @include respond(phone){
                flex-direction: column;
            }
        &-left{
            width: 49%;
            height: auto;
            padding: .5rem .5rem;
            border-radius: .7rem;
            background-color:#AC636E;
            @include respond(phone){
                width: 100%;
                margin-top: 1rem;
            }
            &-1{
                width: 100%;
                height: 35vh;
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: center;
                &>p{
                    font-weight: 500;
                    font-size: 2.5rem;
                    color: white;
                }
            }
            &-2{
                width: 100%;
                height:auto;
                background-color: #AC636E;
                &-box{
                width: 10%;
                height: 5vh;
                margin: auto;
                transform: rotate(45deg);
                background-color:#AC636E;
                }
                &-content{
                    width: 100%;
                    height: auto;
                    margin-top: 1rem;
                    display: flex;
                    justify-content: center;
                    padding: .5rem 0rem;
                    // background-color:plum;
                &-left{
                    width: 45%;
                    height: auto;
                    // padding: .5rem 0rem;
                    // background-color: lightgrey;

                    &>p{
                        font-weight: 500;
font-size: 1.5rem;
line-height: 34px;
color: #FFFFFF;
                    }
                }
                 &-right{
                    width: 45%;
                    height: auto;
                    padding: .5rem 0rem;
                    // background-color:#6C6C6C;
                &>p{
                        font-weight: 500;
font-size: 1.5rem;
line-height: 34px;
color: #FFFFFF;
                    }
                }
                }
            }
        }
        &-right{
            width: 49%;
            height: auto;
            padding: .5rem 0rem;
            background-color: lightcyan;
           
        }

        }
    }
}





